version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    env_file:
      - .env

  backend:
    build: ./backend
    dns:
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - ./backend:/app
      - .:/workspaces/portfolio-app
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  frontend:

    build: ./frontend
    volumes:
      - ./frontend:/app

      - /app/node_modules
    ports:
      - "3000:3000"

volumes:
  postgres_data:
